@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}


@layer utilities {
  .superheading {
    @apply text-[100px];
    font-family: 'Black Han Sans', sans-serif;
  }
  .heading-0 {
    @apply text-[52px];
    font-family: 'Black Han Sans', sans-serif;
  }
  .heading-1, h1 {
    @apply text-[48px];
    font-family: 'Black Han Sans', sans-serif;
  }
  .heading-2, h2 {
    @apply text-[36px];
    font-family: 'Black Han Sans', sans-serif;
  }
  .heading-3, h3 {
    @apply text-[30px];
    font-family: 'Black Han Sans', sans-serif;
  }
  .heading-4, h4 {
    @apply text-[24px];
    font-family: 'Black Han Sans', sans-serif;
  }
  .heading-5, h5 {
    @apply text-[18px];
    font-family: 'Black Han Sans', sans-serif;
  }
  .body-1 {
    @apply text-[18px] font-normal;
  }
  .body-2 {
    @apply text-[16px] font-normal;
  }
  .body-3 {
    @apply text-[14px] font-normal;
  }
  .body-4 {
    @apply text-[12px] font-normal;
  }
}
